/.*
/.*/
/tamination.zip
*.class
/ext/
TAMination.jar
*.pyc
*.blend?
callindex.xml
calls.xml
calls.dtd
formations.xml
menus.xml
moves.xml
tamination.dtd
!src/calls.xml
!src/calls.dtd
!src/formations.xml
!src/menus.xml
!src/moves.xml
!src/tamination.dtd
!jquery*.zip
!require.js
!domReady.js
!jqm.page.params.js
!/ext/jquery/jquery*.js
/taminations-xp.zip
/taminations.zip
