/.*
/.*/
/tamination.zip
*.class
/ext/
/TAMination.jar
*.pyc
*.blend?
callindex.json
formations.xml
menus.xml
moves.xml
!src/formations.xml
!src/menus.xml
!src/moves.xml
!jquery.mobile-*.zip
!jquery-*.js
